#container{
    background-image: url(../src/canale_bg.png);
}

#guidatv{
    margin-bottom: 30vh;
}
#guidatv > img{
    border-radius: 2rem;
    margin-top: 12vh;
    margin-right: 5vw;
}
#guidatv > *{
    margin: 2rem;
}
#info{
    max-width: 95vw;
    min-width: 42vw;
    height:  70vh;
    overflow-y: scroll;
}
#info > p{
    line-height: 95%;
    margin: 0;
}

.serie{
    margin-top: 2vh;
}
