#container{
    background-image: url(../src/canale_bg.png);
}

#index-programmi{
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    margin-top: 2vh;
    max-height: 78%;
    overflow-y: scroll;
}



#index-schedule{
    margin-left: auto;
    margin-right: auto;
    width: 63vw;
    margin-top: 2vh;
    max-height: 70vh;
    overflow-y: scroll;
}

.programmi{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 30vw;
    padding: 1.1vh;
    border-radius: 0.4rem;
    font-size: 150%;
    background-color: #ffffff55;
}
